@font-face {
	font-family: 'iconos';
	src:url('fonts/iconos.eot?rxw6r');
	src:url('fonts/iconos.eot?#iefixrxw6r') format('embedded-opentype'),
		url('fonts/iconos.woff?rxw6r') format('woff'),
		url('fonts/iconos.ttf?rxw6r') format('truetype'),
		url('fonts/iconos.svg?rxw6r#iconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e608";
}
.icon-warning:before {
	content: "\e615";
}
.icon-areas:before {
	content: "\e600";
}
.icon-check:before {
	content: "\e612";
}
.icon-cancel:before {
	content: "\e613";
}
.icon-download:before {
	content: "\e601";
}
.icon-settings:before {
	content: "\e602";
}
.icon-bars:before {
	content: "\e609";
}
.icon-bars2:before {
	content: "\e60a";
}
.icon-sort:before {
	content: "\e60e";
}
.icon-rearrange:before {
	content: "\e60f";
}
.icon-spinner:before {
	content: "\e60b";
}
.icon-spinner2:before {
	content: "\e60c";
}
.icon-pie:before {
	content: "\e603";
}
.icon-stats:before {
	content: "\e604";
}
.icon-file:before {
	content: "\e60d";
}
.icon-checked:before {
	content: "\e610";
}
.icon-unchecked:before {
	content: "\e611";
}
.icon-pencil:before {
	content: "\e605";
}
.icon-droplet:before {
	content: "\e606";
}
.icon-reorganizar:before {
	content: "\e614";
}
.icon-undo:before {
	content: "\e607";
}
.icon-info:before {
	content: "\e616";
}
.icon-arrow-up:before {
	content: "\e618";
}
.icon-error:before {
	content: "\e617";
}
